.view.view-game
    .container
        .carousel-game

        .top-section-game
            .rank-list
                h2 下载总榜
                .rank-item

            .hot-game
                .title
                    img(src="img/icon-hot.png")
                    h2 热门网游
                .hot-game-item

        .ads-game
            img(src="img/ads-sample.png")

        .recommend-game
            .title
                img(src="img/icon-handler.png")
                h2 手柄游戏推荐
            .handle-game-item

        .category-game
            .title
                img(src="img/icon-fire.png")
                h2 热门分类
            .category-list
                ul.category-item
            .hot-categories
