if idName
    a.user-name(href='javascript:')= idName
    span |
    a.sign-out(href='javascript:') 退出
else
    a.sign-in.light-a(href="javascript:") 登录
    span |
    a.sign-up.light-a(href="http://account.wpax.cn/sign-up?afterSignUpUrl=http://app.wpax.cn", target='_blank') 注册