@mixin font-size($sizeValue: 12 ){
    font-size: $sizeValue + px; //fallback for old browsers
    font-size: (0.125 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 12 ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.125 * $heightValue) + rem;
}

@mixin placeholder-color($color){
    &.placeholder{
        color: $color
    }

    &:-moz-placeholder{
        color: $color
    }

    &::-webkit-input-placeholder{
        color: $color
    }

    &:-ms-input-placeholder{
        color: $color
    }
}

@mixin inline-block() {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

@mixin text-replacement() {
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}