@import "variables";
@import "mixins/rating";

.zhuanti-detail-view {
    .container {
        background-color: #ffffff;
        width: 980px;
        height: 900px;
        margin: 14px auto 0 auto;
        position: relative;
    }
    .zhuanti-info {
        box-shadow: 30px 0px 70px -50px #666666;
        width: 350px;
        height: 700px;
        margin-top: 90px;
        display: inline-block;
        vertical-align: top;
        .zhuanti-cover {
            display: block;
            width: 284px;
            height: 130px;
            margin: 24px auto;
        }
        p {
            margin-left: 30px;
            color: #9e9e9e;
            span {
                margin-left: 20px;
                color: black;
            }
        }
    }
    .zhuanti-detail {
        display: inline-block;
        width: 550px;
        margin-left: 50px;
    }
    .zhuanti-intro {
        vertical-align: top;
        width: 100%;
        height: 150px;
        margin-top: 90px;
        margin-left: 20px;
        font-size: 14px;
        overflow: hidden;
        .zhuanti-description {
            color: #9e9e9e;
        }
        .more-info {
            float: right;
            margin: 40px 50px 20px 0;
            color: #299dff;
            span {
                color: black;
            }
        }
        &.active {
            height: auto;
            .more-info {
                visibility: hidden;
            }
        }
    }
    .app-list {
        .app-group {
            width: 130px;
            height: 200px;
            display: inline-block;
            transition: background 0.2s, box-shadow 0.2s;
            vertical-align: top;
            .app-icon {
                display: block;
                width: 90px;
                height: 90px;
                border-radius: 10px;
                margin: auto;
                margin-top: 10px;
            }
            .app-detail {
                margin-top: 10px;
                text-align: center;
                @include rating(12px);
                .app-name {
                    font-size: 14px;
                    color: #333333;
                }
                .app-score {
                    margin: 5px auto;
                }
                .app-category {
                    font-size: 12px;
                    color: #999999;
                }
            }
            .app-download {
                display: none;
                //visibility: hidden;
                margin: auto;
                width: 75px;
                height: 24px;
                border: 1px solid #999999;
                border-radius: 15px;
                text-align: center;
                line-height: 24px;
                vertical-align: middle;
                color: #77cb1e;
                span {
                    color: #333333;
                    font-size: 14px;
                }
            }
            &:hover {
                background: #f5f5f5;
                box-shadow: 2px 2px 12px #666666;
                .app-download {
                    display: block;
                    //visibility: visible;
                }
            }
        }
        .pagination-block {
            background: none;
            border: none;
            box-shadow: none;
            position: absolute;
            bottom: 0;
            right: 50px;

        }
    }
}